.card{
    width: 200px;
    align-items: center;
}
.card img{
    width: 200px;
    margin-top: 30px;

}
.wrap{
height:150px;

}
.icons{
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
}
.shopping{
font-size: 20px;
justify-content: flex-end;

}
.icons{ 
display: flex;
justify-content: flex-end;
}
.price{
    font-size: 15px;
}
.add-btn{
    background-color: #c0e117;
    border: none;
    border-radius: 20px;
    width:80px;
    height: 40px;
    font-size: 15px;
 
}