.collections h1 {
  align-self: center;
  letter-spacing: 10px;
}
.collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.collections hr {
  height: 4px;
  width: 150px;
  background-color: #c0e117;
  border: none;
  margin-top: -20px;
}

.grid {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin-left: 70px;
}
.grid img {
  width: 500px;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 730px;
}
.item6 {
  height: 255px;
}
.item3 {
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: -95px;
  height: 635px;
}

.item7 {
  margin-top: -170px;
}
.item5 {
  margin-top: -80px;
}
