.collections h1 {
  align-self: center;
  letter-spacing: 10px;
}
.collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.collections hr {
  height: 4px;
  width: 150px;
  background-color: #c0e117;
  border: none;
  margin-top: -20px;
}

.grid {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin-left: 70px;
}
.grid img {
  width: 500px;
}
.item1{
  height: 258px;
}
.item2 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 730px;
}
.item5 {
  height: 255px;
}
.item6 {
  grid-row-start: 2;
  grid-row-end: 4;
  height: 620px;
  margin-top: -20px;

}
.item3{
  margin-top: -50px;
}


.img-container{
    position: relative;

}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.img-container:hover .img-overlay {
  opacity: 0.8;
}
.img-container img {
  display: block;

  height: auto;
}
.overlay-content {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}