.block{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: larger;
    color: #c0e117;
    padding-top: 50px;
   
}
.AboutUs{
     background-color: black;
     margin-top: -55px;
     text-align: center;
}